.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/hero-bg.jpg');
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  color: rgb(168, 227, 255);
  padding: 0 20px;
  transform: translateY(-10vh) translateX(3vw);
}

.title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.subtitle {
  font-size: 20px;
  margin-bottom: 32px;
}

.cta {
  display: inline-block;
  background-color: #0070f3;
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
  border: 2px solid #b3dfe0;
  text-decoration: none;
  font-weight: bold;
}

.cta:hover {
  background-color: #0057c2;
}
