.r_t_wrapper{
  background-image: url('/images/panch_kedar.png');
  background-size: cover;
  background-position: center;
}

.hero {
  position: relative;
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
}

.content {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 0 20px;
}

.title {
  font-size: 8vw;
  font-weight: bold;
  margin-bottom: 0px;
}

.r_t_plan{
  position: relative;
  background-size: cover;
  background-position: center;
  display: grid;
  background: linear-gradient(#d6eb2d,rgb(195, 219, 221));
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
  overflow: hidden;
  align-items: center;
}

.planTitle{
  font-size: 4vw;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;
  color: blue;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.subtitle{
  font-size: 1.5vw;
  color: black;
  margin-bottom: 10px;
}